:root {
    --color-main: #fff;
    --color-black: #0b0b00;
    --color-grey: #BCC0C0;

    --color-text--1: #005B4B;
    --color-text--2: #A7BBA2;
    --color-text--3: #7E9F91;
    --color-text--4: #5B8280;
    --color-text--5: #41656E;
    --color-text--6: #2F4858;
    --color-text--7: #D6A339;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
    color: var(--color-text--1);
    background-color: var(--color-main);
}

.header {
    /* background: url('https://res.cloudinary.com/dkprwxflx/image/upload/v1526138611/code--1_hk8085.jpg') no-repeat center; */
    background: url('../img/group--1.jpg') no-repeat center;
    background-size: cover;
    height: 75vh;
}

.header__image {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 38.5rem 0 0 0;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;

  /* padding: 3rem 0 0 0; */
}

.about__heading {
  /* width: 100%; */
  font-size: 4rem;
}

.about__para {
  margin: 0 0 1.1rem 0;
  font-size: 1.6rem;
}

.cursor {
  color: var(--color-text--2);
}

.typer {
  font-weight: 700;
}

.about__link {
  color: var(--color-text--7);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
}

.about__link:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 770px) {
  .header {
    height: 68vh;
  }
}

@media only screen and (max-width: 701px) {
  .about {
    justify-content: flex-start;
    padding: 1rem;
  }
}

@media only screen and (max-width: 450px){
  .about__heading {
    /* width: 100%; */
    font-size: 2rem;
    margin: 0 0 .6rem 0;
  }
  
  .about__para {
    margin: 0 0 .6rem 0;
    font-size: .8rem;
  } 
}

@media only screen and (max-width: 321px){
  .about__heading {
    /* width: 100%; */
    font-size: 1.5rem;
  }

  .about__link {
    font-size: .8rem;
  }
  
  .about__para {
    font-size: .6rem;
  }
}

.story {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  background-color: var(--color-text--1);
  color: var(--color-main) !important;
  padding: 3.5rem 0;
  margin: 40rem 0 20rem 0;
  font-size: 1.6rem;
  letter-spacing: normal;
  line-height: 1.5;
}

.story__text--1 {
  width: 70%;
  margin: 0 0 2rem;
}

.story__text--2 {
  width: 70%;
  margin: 0 0 2rem;
}

@media only screen and (max-width: 701px){
  .story__text--1 {
    width: 85%;
  }
  
  .story__text--2 {
    width: 85%;
  }
}

@media only screen and (max-width: 450px){
  .story {
    font-size: 1.1rem;
  } 

  .story__link {
    font-size: .9rem !important;
  }
}

@media only screen and (max-width: 401px){
  .story__text--1 {
    width: 90%;
  }
  
  .story__text--2 {
    width: 90%;
  }
}

.link__container {
  text-align: center;
}

.story__link {
  color: var(--color-text--7);
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 0 0 1.5rem 0;
  margin: 0 0 20rem 0;
}

.story__link:hover {
  text-decoration: underline;
}

.works {
  background-color: var(--color-text--6);
  padding: 2rem 0;
  margin: 0 0 40rem 0;
}

.works__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.works__card {
    background-color: var(--color-main);
    box-shadow: 1px 1px 20px var(--color-black);
    width: 75%;
    margin: 13px;
    border-radius: 5px;
}

@media only screen and (max-width: 1130px){
  .works__container {
    flex-flow: column nowrap;
  }

  .works__card {
    width: 800px;
  }
}

@media only screen and (max-width: 830px){
  .works__card {
    width: 100%;
  }

  .works__container {
    padding: 0 1rem;
  }
}

@media only screen and (max-width: 450px) {
  .more__link {
    font-size: 1rem !important;
  }

  .heading {
    font-size: 1.1rem !important;
  }

  .content {
    font-size: .8rem !important;  
  }
}

.arinka__img { background: url('../img/arinka--1.png') no-repeat center; }
.mobile__img { background: url('../img/9mobile--1.png') no-repeat center; }
.dashboard__img { background: url('../img/piggy--1.png') no-repeat center; }

.arinka__img,
.mobile__img,
.dashboard__img {
  background-size: cover;
  height: 50vh;
}

.arinka__content,
.mobile__content,
.dashboard__content {
  padding: 2rem 1rem;
}

.heading {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--color-text--7);  
}

.heading:hover {
  text-decoration: underline;
}

.content {
  font-size: 1.2rem;  
}

.works__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.more__link {
  color: var(--color-text--7);
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 1rem 0 .5rem 0;
  /* margin: 0 0 20rem 0; */
}

.more__link:hover {
  text-decoration: underline;
}

.more {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;

  background: var(--color-text--7);
  color: var(--color-main) !important;
  padding: 2rem 2rem;

  font-size: 1.6rem;
  letter-spacing: normal;
  line-height: 1.5;
}

@media only screen and (max-width: 751px){
  .more {
    padding: 2rem 1rem !important;
  }
  
  .more__para {
    width: 85% !important;
  }
}

@media only screen and (max-width: 450px){
  .more {
    padding: 2rem .5rem !important;
  }
  
  .more__para {
    font-size: 1.1rem !important;
    width: 90% !important;
  }

  .more__para--1 {
    font-size: 1rem !important;
  }
  
  .fab {
    font-size: 1.3rem !important;
  }
}

.more__para {
  width: 70%;
}

.more__para--1 {
  margin: 1.5rem 0 0 0;
}

.techloy__link,
.my__medium,
.local__guide {
  color: var(--color-text--1);
}

.fab {
  padding: 0 1rem 0 0;
  font-size: 1.7rem;
  color: var(--color-main);
}

.fa-facebook-square:hover {
  color: #3b5999;
}

.fa-twitter-square:hover {
  color: #55acee;
}

.fa-instagram:hover {
  color: #e4405f;
}

.top--of--page {
  color: var(--color-text--1);
  font-size: 1.2rem;
}

/* ANIMATE.CSS STYLES */

